/* Root for main colors used throughout webpage */
:root  {
    /* Various colors */
    --main-bkgrd-color: white;
    --main-text-color: black;
    --button-color: rgb(80, 165, 245);
}

/* Wildcard to apply attributes to all selectors */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
}

/* Body of page */
body {

}

/* Very top of page: "View high scores" and "Time" */
header {

}

/* "View high scores" specifically */
header #view-scores {

}

/* "Coding Quiz Challenge" text */
h1 {
    font-size: 200%;
}

/* "View high scores" and "Time text" */
h2 {
    font-size: 150%;
}

/* Questions, Quiz end, High Scores */
h3 {
    font-size: 120%;
}

/* View Scores */
a {

}

/* Main content of page */
main {

}



/* Media queries for size adjustments */
@media screen and (max-width: 992px) {
    main {
      width: 40%;
    }
}

@media screen and (max-width: 768px) {
    main {
      width: 100%;
    }
}